/* UTILS */
:root {
  --logo-black-color: #000000;
  --primary-text-color: #757575;
  --background-section-color: #f5f4fa;
  --title-text-color: #212121;
  --input-border-color: rgba(21, 21, 21, 0.2);
  --accent-color: #2196f3;
  --category-text-background: rgba(33, 150, 243, 0.9);
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --works-discription-color: rgba(47, 48, 58, 0.8);
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --header-line-color: #ececec;
  --border-line-color: #eeeeee;
  --content-team-shadow-v1: rgba(0, 0, 0, 20%);
  --content-team-shadow-v2: rgba(0, 0, 0, 14%);
  --content-team-shadow-v3: rgba(0, 0, 0, 12%);
  --hero-overlay-color: rgba(47, 48, 58, 40%);
  --social-icon-color: #afb1b8;
  --footer-social-icon: rgba(255, 255, 255, 10%);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --cheked-policy-border: rgba(33, 33, 33, 1);
  --message-text-color: rgba(117, 117, 117, 0.5);
  --placeholder-footer-text: rgba(255, 255, 255, 0.6);
  --sen-btn-bcg-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px;
  border: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* BASE */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .hero .container {
    margin: 0;
    padding: 0;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    width: 100%;
    height: 400px;
    padding: 0;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    width: 1200px;
    height: 600px;
    margin: 0;
    padding: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

footer .container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  footer .container {
    width: 480px;
    height: 603px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  footer .container {
    width: 768px;
    height: 463px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 76px;
    padding-right: 76px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    min-width: 1200px;
    height: 252px;
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .page-header .container {
    width: 480px;
    height: 60px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    width: 768px;
    height: 80px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .container {
    width: 1200px;
    height: 80px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.portfolio .container {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .portfolio .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .works .container {
    width: 1200px;
    height: 386px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 94px;
  }
}

.features .container {
  padding-top: 60px;
}

@media screen and (min-width: 480px) {
  .features .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features .container {
    width: 738px;
    height: 507px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features .container {
    min-width: 1170px;
    height: 251px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
    padding: 0;
  }
}

.team .container {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .team .container {
    width: 480px;
    height: 2761px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .team .container {
    width: 768px;
    height: 1285px;
  }
}

@media screen and (min-width: 1200px) {
  .team .container {
    min-width: 1200px;
    height: 708px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .client .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 480px) {
  .client .container {
    width: 450px;
    height: 393px;
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-bottom: 60px;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .client .container {
    width: 738px;
    height: 273px;
  }
}

@media screen and (min-width: 1200px) {
  .client .container {
    min-width: 1170px;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 118px 15px;
  }
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* COMPONENTS */
.logo {
  display: inline-block;
  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .logo {
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  }
}

.logo .web {
  color: var(--accent-color);
}

footer .logo {
  display: inline-block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 0;
}

@media screen and (min-width: 480px) {
  footer .logo {
    margin-right: 160px;
  }
}

@media screen and (min-width: 768px) {
  footer .logo {
    width: 142px;
    margin: 0;
    margin-left: auto;
    margin-right: 204px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  footer .logo {
    margin: 0;
    width: 160px;
    margin-bottom: 20px;
  }
}

/* LAYOUT */
.page-header {
  border: 1px solid var(--header-line-color);
}

@media screen and (min-width: 480px) {
  .navigation {
    padding: 0;
    width: 134px;
    height: 28px;
    margin-right: 276px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    padding: 0;
    margin-right: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    padding: 0;
  }
}

.burger-btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.burger-btn :hover,
.burger-btn :focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--logo-black-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 10;
  left: 50%;
  width: 100%;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(-50%) translateY(-100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .btn-close-mobile {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .btn-close-mobile:hover, .mobile-menu .btn-close-mobile:focus {
  background-image: url("../images/modal/close-hover.svg");
}

.mobile-menu .site-nav {
  display: block;
  width: 100%;
  margin: 0;
  margin-left: auto;
  align-items: center;
}

.mobile-menu .site-nav :not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .mobile-menu .site-nav {
    display: none;
  }
}

.mobile-menu .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .link.current-mobile {
  color: var(--accent-color);
}

.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: var(--accent-color);
}

.mobile-menu .nav-adress {
  display: block;
  margin: 0;
  margin-top: 300px;
  margin-left: auto;
  align-items: center;
}

.mobile-menu .nav-adress :not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu .nav-adress .adress {
  font-weight: 500px;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .nav-adress .adress.adress-accent {
  color: var(--accent-color);
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .mobile-menu .nav-adress .adress.adress-accent {
    font-size: 34px;
    line-height: 1.176;
  }
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  margin-top: 64px;
  margin-left: auto;
  align-items: center;
}

.mobile-social-list :not(:last-child) {
  margin-right: 20px;
}

.mobile-social-list :not(:last-child)::after {
  content: "";
  margin-left: 10px;
  width: 22px;
  height: 0px;
  left: 0;
  top: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social-list-item {
  display: inline-block;
}

.mobile-social-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-right: 80px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (min-width: 480px) {
  .site-nav .link {
    font-size: 40px;
    line-height: 1.175;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);
    padding-bottom: 0px;
  }
  .site-nav .link.current::after {
    display: block;
    content: "";
    margin-top: 28px;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .nav-adress {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: baseline;
  }
}

.nav-adress .adress {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-adress .adress {
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .adress {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 00.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-adress .adress:hover, .nav-adress .adress:focus {
    color: var(--accent-color);
  }
}

.nav-adress .adress:hover, .nav-adress .adress:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-adress .nav-adress-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .nav-adress-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .mail-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mail-icon {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .mail-icon {
    display: block;
  }
}

.nav-adress-item:hover .mail-icon,
.nav-adress-item:focus .mail-icon {
  fill: var(--accent-color);
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-adress-item:hover .tel-icon,
.nav-adress-item:focus .tel-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .tel-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tel-icon {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .tel-icon {
    display: block;
  }
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/hero/hero-mobile@x1.jpg");
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 480px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/hero/hero-mobile@x2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    padding: 0;
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/hero/hero-tablet@x1.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/hero/hero-tablet@x2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 0;
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/hero/hero-desktop@x1.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/hero/hero-desktop@x2.jpg");
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700px;
  font-size: 16px;
  line-height: decimal-round(1.875, 3);
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700px;
  font-size: 36px;
  line-height: decimal-round(1.16667, 3);
  text-align: center;
  letter-spacing: 0.03em;
}

.client .section-title {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .client .section-title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client .section-title {
    margin-bottom: 50px;
  }
}

.team .section-title {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.works .section-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.features {
  padding: 0px;
}

.features .title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-white-color);
}

.features .features-text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

.features-list-item {
  max-width: 450px;
}

@media screen and (min-width: 480px) {
  .features-list-item {
    height: 120px;
  }
  .features-list-item:not(:last-child) {
    margin-bottom: 136px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .features-list-item {
    width: 354px;
    margin-bottom: 161px;
  }
  .features-list-item:not(:nth-child(even)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item {
    width: 270px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-section-color);
  width: 100%;
  height: 120px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 142px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-icon {
    width: 270px;
    padding: 0;
  }
}

.list-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works-list {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.works-list-item {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 370px;
}

.work-thumb {
  position: relative;
}

.work-discription {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--works-discription-color);
}

.team {
  background-color: var(--background-section-color);
}

@media screen and (min-width: 320px) {
  .image-team {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-list-item {
  max-width: 450px;
}

.team-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team-list-item {
    height: 622px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: 354px;
    height: 536px;
  }
  .team-list-item:not(:nth-child(even)) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
    height: 428px;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team-member {
    margin-right: 0;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .social-list {
    width: 206px;
    height: 44px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.position {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.team-list-content {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px var(--content-team-shadow-v1), 0px 1px 1px 0px var(--content-team-shadow-v2), 0px 1px 3px 0px var(--content-team-shadow-v3);
}

@media screen and (min-width: 480px) {
  .team-list-content {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .client-list {
    justify-content: center;
  }
}

.client-list-item {
  width: 100%;
  height: 90px;
  margin: 0;
}

.client-list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .client-list-item {
    width: 210px;
  }
  .client-list-item:not(:nth-child(even)) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-list-item {
    width: 226px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .client-list-item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client-list-item {
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  }
  .client-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-list-link {
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover, .client-list-link:focus {
  border: 1px solid var(--accent-color);
}

.client-list-icon {
  max-width: 88px;
  max-height: 52px;
  fill: var(--social-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--accent-color);
}

footer {
  background-color: var(--footer-background-color);
}

footer .studio {
  color: var(--primary-white-color);
}

footer .title {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  footer .title {
    text-align: left;
  }
}

.adress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media screern and (min: width 768px) {
  .adress-bar {
    margin-right: 76px;
  }
}

@media screern and (min: width 1200px) {
  .adress-bar {
    margin-right: 70px;
  }
}

.footer-adress {
  text-align: center;
  margin-bottom: 60px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-adress {
    width: 232px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    margin: 0;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    text-align: left;
  }
}

.office-adress-list {
  margin-top: 0px;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .office-adress-list {
    text-align: left;
  }
}

.adress-list-item {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .adress-list-item {
    text-align: left;
  }
}

.adress-list-item :not(:last-child) {
  margin-bottom: 9px;
}

.mail,
.phone-number {
  color: var(--footer-adress-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.socail-bar {
  align-content: center;
}

@media screen and (min-width: 1200px) {
  .socail-bar {
    margin: 0;
    margin-right: 70px;
  }
}

.socialbar-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.socialbar-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-icon);
  border-radius: 50%;
}

footer .socialbar-list-item:not(:last-child) {
  margin-right: 10px;
}

.socialbar-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialbar-list-link:hover, .socialbar-list-link:focus {
  background-color: var(--accent-color);
}

.socialbar-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.footer-form-mail {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-form-mail {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-form-input {
  display: inline-block;
  border: 1px solid var(--footer-input-border);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    margin: 0;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
  }
}

.footer-form-input::placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--placeholder-footer-text);
}

.footer-form-btn {
  display: flex;
  align-self: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}

.footer-form-btn span {
  display: block;
  margin-right: 10px;
}

.footer-form-btn svg {
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px var(--content-team-shadow-v3), 0px 1px 1px var(--content-team-shadow-v2), 0px 2px 1px var(--content-team-shadow-v1);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 93%;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover, .btn-close-modal:focus {
  background-image: url("../images/modal/close-hover.svg");
}

.contact-form {
  padding: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.contact-form-title {
  margin-top: 0;
  margin-bottom: 12px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.contact-form-lable {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form-input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.contact-form-icon {
  position: relative;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-input-wrapper {
  display: block;
  position: relative;
}

.contact-form-message {
  margin-top: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder {
  color: var(--message-text-color);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-label-policy {
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .contact-form-label-policy {
    display: flex;
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-label-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.contact-form-label-policy::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  content: "";
  margin-right: 8px;
  transition: border background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-check-policy:checked + .contact-form-label-policy::before {
  border: 0;
  background-image: url("../images/modal/icon-check.svg");
}

@media screen and (min-width: 480px) {
  .contact-form-label-policy::before {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-label-policy::before {
    margin-left: 14px;
  }
}

.contact-form-label-policy span {
  margin-right: 5px;
}

.contact-form-label-policy a {
  color: var(--accent-color);
}

.contact-form-btn {
  margin-top: 30px;
  align-self: center;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: var(--sen-btn-bcg-color);
}
/*# sourceMappingURL=main.css.map */