:root {
  --logo-black-color: #000000;
  --primary-text-color: #757575;
  --background-section-color: #f5f4fa;
  --title-text-color: #212121;
  --input-border-color: rgba(21, 21, 21, 0.2);
  --accent-color: #2196f3;
  --category-text-background: rgba(33, 150, 243, 0.9);
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --works-discription-color: rgba(47, 48, 58, 0.8);
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --header-line-color: #ececec;
  --border-line-color: #eeeeee;
  --content-team-shadow-v1: rgba(0, 0, 0, 20%);
  --content-team-shadow-v2: rgba(0, 0, 0, 14%);
  --content-team-shadow-v3: rgba(0, 0, 0, 12%);
  --hero-overlay-color: rgba(47, 48, 58, 40%);
  --social-icon-color: #afb1b8;
  --footer-social-icon: rgba(255, 255, 255, 10%);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --cheked-policy-border: rgba(33, 33, 33, 1);
  --message-text-color: rgba(117, 117, 117, 0.5);
  --placeholder-footer-text: rgba(255, 255, 255, 0.6);
  --sen-btn-bcg-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px;
  border: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px;
  border: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* BASE */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 118px 15px;
  }
}

@media screen and (min-width: 320px) {
  .hero .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 480px) {
  .hero .container {
    width: 480px;
    height: 400px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    width: 738px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    width: 1200px;
    height: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 15px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  footer .container {
    width: 480px;
    height: 603px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  footer .container {
    width: 768px;
    height: 463px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 76px;
    padding-right: 76px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    min-width: 1200px;
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .page-header .container {
    width: 100vh;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 480px) {
  .page-header .container {
    width: 480px;
    height: 60px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    width: 768px;
    height: 80px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .container {
    min-width: 1600px;
    height: 80px;
    padding: 0;
    padding-left: 215px;
    padding-right: 215px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio .container {
    width: 480px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .container {
    width: 768px;
    padding-left: 15px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .works .container {
    width: 1200px;
    height: 386px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 320px) {
  .features .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 480px) {
  .features .container {
    width: 450px;
    height: 994px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features .container {
    width: 738px;
    height: 507px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features .container {
    min-width: 1170px;
    height: 251px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
    padding: 0;
  }
}

@media screen and (min-width: 320px) {
  .team .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 480px) {
  .team .container {
    width: 480px;
    height: 2761px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .team .container {
    width: 768px;
    height: 1285px;
  }
}

@media screen and (min-width: 1200px) {
  .team .container {
    min-width: 1200px;
    height: 708px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .client .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 480px) {
  .client .container {
    width: 450px;
    height: 393px;
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-bottom: 60px;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .client .container {
    width: 738px;
    height: 273px;
  }
}

@media screen and (min-width: 1200px) {
  .client .container {
    min-width: 1170px;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
  }
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* COMPONENTS */
.logo {
  display: inline-block;
  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .logo {
    font-weight: 700px;
    font-size: 24px;
    line-height: decimal-round(1.16667, 3);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

.logo .web {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  footer .logo {
    display: block;
    width: 154px;
    margin-top: 0px;
    margin-right: 160px;
    margin-bottom: 20px;
    margin-left: 160px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  footer .logo {
    width: 142px;
    margin: 0;
    margin-left: auto;
    margin-right: 204px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  footer .logo {
    margin: 0;
    width: 160px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-list-item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list-item:not(:last-child) {
    margin: 0;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter {
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;
  border: 0px solid var(--background-section-color);
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-section-color);
  font-weight: 500px;
  font-size: 16px;
  line-height: decimal-round(1.625, 3);
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px 0px black, 0px 1px 2px 0px black, 0px 2px 2px 0px black;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px 0px black, 0px 4px 4px 0px black, 1px 4px 6px 0px black;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.category-list-item {
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (min-width: 480px) {
  .category-list-item {
    width: 450px;
    height: 404px;
  }
}

@media screen and (min-width: 768px) {
  .category-list-item {
    width: 354px;
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .category-list-item {
    width: 370px;
    height: 404px;
  }
}

.category-list-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.category-discription {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-line-color);
}

.category {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.category-name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.category-thumb {
  position: relative;
  overflow: hidden;
}

.category-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400px;
  font-size: 18px;
  line-height: decimal-round(1.55556, 3);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--category-text-background);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .category-text,
.portfolio-link:focus .category-text {
  transform: translateY(0);
}

/* LAYOUT */
.page-header {
  border: 1px solid var(--header-line-color);
}

@media screen and (min-width: 320px) {
  .page-header {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .navigation {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .navigation {
    padding: 0;
    width: 134px;
    height: 28px;
    margin-right: 276px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    padding: 0;
    margin-right: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .burger-btn :hover,
  .burger-btn :focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--logo-black-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .btn-close-mobile {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .btn-close-mobile:hover, .mobile-menu .btn-close-mobile:focus {
  background-image: url("../images/modal/close-hover.svg");
}

@media screen and (min-width: 480px) {
  .mobile-menu .site-nav {
    display: block;
    margin: 0;
    margin-left: auto;
    align-items: center;
  }
  .mobile-menu .site-nav :not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu .site-nav {
    display: none;
  }
}

.mobile-menu .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .link.current-mobile {
  color: var(--accent-color);
}

.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .mobile-menu .nav-adress {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu .nav-adress {
    display: block;
    margin: 0;
    margin-top: 300px;
    margin-left: auto;
    align-items: center;
  }
  .mobile-menu .nav-adress :not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu .nav-adress .adress {
  font-weight: 500px;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .nav-adress .adress.adress-accent {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1199px) {
  .mobile-menu .mobile-social-list {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu .mobile-social-list {
    display: flex;
    justify-content: start;
    margin: 0;
    margin-top: 64px;
    margin-left: auto;
    align-items: center;
  }
  .mobile-menu .mobile-social-list :not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu .mobile-social-list :not(:last-child)::after {
    content: "";
    margin-left: 10px;
    width: 22px;
    height: 0px;
    left: 0;
    top: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.mobile-menu .mobile-social-list-item {
  display: inline-block;
}

.mobile-menu .mobile-social-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-right: 80px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (min-width: 480px) {
  .site-nav .link {
    font-size: 40px;
    line-height: 1.175;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);
    padding-bottom: 0px;
  }
  .site-nav .link.current::after {
    display: block;
    content: "";
    margin-top: 28px;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .nav-adress {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: baseline;
  }
}

.nav-adress .adress {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-adress .adress {
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .adress {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 00.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-adress .adress:hover, .nav-adress .adress:focus {
    color: var(--accent-color);
  }
}

.nav-adress .adress:hover, .nav-adress .adress:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-adress .nav-adress-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .nav-adress-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.nav-adress .mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .nav-adress .mail-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress .mail-icon {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .mail-icon {
    display: block;
  }
}

.nav-adress-item:hover .nav-adress .mail-icon,
.nav-adress-item:focus .nav-adress .mail-icon {
  fill: var(--accent-color);
}

.nav-adress .tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .nav-adress .tel-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress .tel-icon {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .tel-icon {
    display: block;
  }
}

.nav-adress-item:hover .nav-adress .tel-icon,
.nav-adress-item:focus .nav-adress .tel-icon {
  fill: var(--accent-color);
}

footer {
  background-color: var(--footer-background-color);
}

footer .studio {
  color: var(--primary-white-color);
}

@media screen and (min-width: 480px) {
  footer .title {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}

@media screen and (min-width: 1200px) {
  footer .title {
    text-align: left;
  }
}

@media screern and (min-width: 480px) {
  .adress-bar {
    margin-right: auto;
    margin-left: auto;
    align-content: center;
  }
}

@media screern and (min: width 768px) {
  .adress-bar {
    margin-right: 76px;
  }
}

@media screern and (min: width 1200px) {
  .adress-bar {
    margin-right: 70px;
  }
}

.footer-adress {
  color: var(--primary-white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .footer-adress {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-adress {
    width: 232px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    margin: 0;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    text-align: left;
  }
}

.office-adress-list {
  margin-top: 0px;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .office-adress-list {
    text-align: left;
  }
}

.adress-list-item {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .adress-list-item {
    text-align: left;
  }
}

.adress-list-item :not(:last-child) {
  margin-bottom: 9px;
}

.mail,
.phone-number {
  color: var(--footer-adress-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.socail-bar {
  align-content: center;
}

@media screen and (min-width: 1200px) {
  .socail-bar {
    margin: 0;
    margin-right: 70px;
  }
}

.socialbar-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .socialbar-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.socialbar-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-icon);
  border-radius: 50%;
}

footer .socialbar-list-item:not(:last-child) {
  margin-right: 10px;
}

.socialbar-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialbar-list-link:hover, .socialbar-list-link:focus {
  background-color: var(--accent-color);
}

.socialbar-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

@media screen and (min-width: 480px) {
  .footer-form-mail {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-mail {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-form-input {
  display: inline-block;
  border: 1px solid var(--footer-input-border);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}

@media screen and (min-width: 480px) {
  .footer-form-input {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    margin: 0;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
  }
}

.footer-form-input::placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--placeholder-footer-text);
}

.footer-form-btn {
  display: flex;
  align-self: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 480px) {
  .footer-form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form-btn span {
  display: block;
  margin-right: 10px;
}

.footer-form-btn svg {
  width: 24px;
  height: 24px;
}

.page-header {
  border: 1px solid var(--header-line-color);
}

@media screen and (min-width: 320px) {
  .page-header {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .navigation {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .navigation {
    padding: 0;
    width: 134px;
    height: 28px;
    margin-right: 276px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    padding: 0;
    margin-right: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .burger-btn :hover,
  .burger-btn :focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--logo-black-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .btn-close-mobile {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .btn-close-mobile:hover, .mobile-menu .btn-close-mobile:focus {
  background-image: url("../images/modal/close-hover.svg");
}

@media screen and (min-width: 480px) {
  .mobile-menu .site-nav {
    display: block;
    margin: 0;
    margin-left: auto;
    align-items: center;
  }
  .mobile-menu .site-nav :not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu .site-nav {
    display: none;
  }
}

.mobile-menu .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .link.current-mobile {
  color: var(--accent-color);
}

.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .mobile-menu .nav-adress {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu .nav-adress {
    display: block;
    margin: 0;
    margin-top: 300px;
    margin-left: auto;
    align-items: center;
  }
  .mobile-menu .nav-adress :not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu .nav-adress .adress {
  font-weight: 500px;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .nav-adress .adress.adress-accent {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1199px) {
  .mobile-menu .mobile-social-list {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu .mobile-social-list {
    display: flex;
    justify-content: start;
    margin: 0;
    margin-top: 64px;
    margin-left: auto;
    align-items: center;
  }
  .mobile-menu .mobile-social-list :not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu .mobile-social-list :not(:last-child)::after {
    content: "";
    margin-left: 10px;
    width: 22px;
    height: 0px;
    left: 0;
    top: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.mobile-menu .mobile-social-list-item {
  display: inline-block;
}

.mobile-menu .mobile-social-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-right: 80px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (min-width: 480px) {
  .site-nav .link {
    font-size: 40px;
    line-height: 1.175;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);
    padding-bottom: 0px;
  }
  .site-nav .link.current::after {
    display: block;
    content: "";
    margin-top: 28px;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .nav-adress {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: baseline;
  }
}

.nav-adress .adress {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-adress .adress {
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .adress {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 00.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-adress .adress:hover, .nav-adress .adress:focus {
    color: var(--accent-color);
  }
}

.nav-adress .adress:hover, .nav-adress .adress:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-adress .nav-adress-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .nav-adress-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.nav-adress .mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .nav-adress .mail-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress .mail-icon {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .mail-icon {
    display: block;
  }
}

.nav-adress-item:hover .nav-adress .mail-icon,
.nav-adress-item:focus .nav-adress .mail-icon {
  fill: var(--accent-color);
}

.nav-adress .tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .nav-adress .tel-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-adress .tel-icon {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .nav-adress .tel-icon {
    display: block;
  }
}

.nav-adress-item:hover .nav-adress .tel-icon,
.nav-adress-item:focus .nav-adress .tel-icon {
  fill: var(--accent-color);
}

/* COMPONENTS */
.logo {
  display: inline-block;
  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .logo {
    font-weight: 700px;
    font-size: 24px;
    line-height: decimal-round(1.16667, 3);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

.logo .web {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  footer .logo {
    display: block;
    width: 154px;
    margin-top: 0px;
    margin-right: 160px;
    margin-bottom: 20px;
    margin-left: 160px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  footer .logo {
    width: 142px;
    margin: 0;
    margin-left: auto;
    margin-right: 204px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  footer .logo {
    margin: 0;
    width: 160px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */