.features {
  padding: 0px;

  .title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-white-color);
  }

  .features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.features-list {
  display: flex;
}

.features-list-item {
  max-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--background-section-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.list-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
