footer {
  background-color: var(--footer-background-color);

  .studio {
    color: var(--primary-white-color);
  }

  .title {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}

.adress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //margin-right: auto;
  //margin-left: auto;
  align-content: center;
  @media screern and(min-width:480px) {
  }

  @media screern and(min: width 768px) {
    margin-right: 76px;
  }
  @media screern and(min: width 1200px) {
    margin-right: 70px;
  }
}

.footer-adress {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 232px;
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  color: var(--primary-white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.office-adress-list {
  margin-top: 0px;
  padding: 0;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.adress-list-item {
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  padding: 0;
  :not(:last-child) {
    margin-bottom: 9px;
  }
}

.mail,
.phone-number {
  color: var(--footer-adress-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.socail-bar {
  align-content: center;
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 70px;
  }
}

.socialbar-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.socialbar-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-icon);
  border-radius: 50%;

  footer &:not(:last-child) {
    margin-right: 10px;
  }
}

.socialbar-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socialbar-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.footer-form-mail {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-form-input {
  display: inline-block;
  border: 1px solid var(--footer-input-border);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
  }
}

.footer-form-input::placeholder {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--placeholder-footer-text);
}

.footer-form-btn {
  display: flex;
  align-self: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
  }

  span {
    display: block;
    margin-right: 10px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
