.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      var(--hero-overlay-color),
      var(--hero-overlay-color)
    ),
    url("../images/hero.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}
