.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 480px) {
    width: 93%;
    height: 609px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  padding: 40px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px var(--content-team-shadow-v3),
    0px 1px 1px var(--content-team-shadow-v2),
    0px 2px 1px var(--content-team-shadow-v1);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-image: url("../images/modal/close-hover.svg");
  }
}

.contact-form {
  padding: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.contact-form-title {
  margin-top: 0;
  margin-bottom: 12px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.contact-form-lable {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form-input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}
.contact-form-icon {
  position: relative;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.contact-form-input-wrapper {
  display: block;
  position: relative;
}

.contact-form-message {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
  &::placeholder {
    color: var(--message-text-color);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.contact-form-label-policy {
  display: flex;
  align-items: center;
  font-weight: 400;

  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.167;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.714;
  }

  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  &::before {
    display: inline-block;
    @media screen and (min-width: 480px) {
      margin-left: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 14px;
    }

    width: 16px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 2px;
    content: "";
    margin-right: 8px;
    transition: border background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-check-policy:checked + & {
      border: 0;
      background-image: url("../images/modal/icon-check.svg");
    }
  }
  span {
    margin-right: 5px;
  }
  a {
    color: var(--accent-color);
  }
}

.contact-form-btn {
  margin-top: 30px;
  align-self: center;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background-color: var(--sen-btn-bcg-color);
  }
}
