.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 12%),
      0px 4px 4px 0px rgba(0, 0, 0, 6%), 1px 4px 6px 0px rgba(0, 0, 0, 16%);
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -15px;
  margin-left: -15px;
}

.category-list-item {
  margin-right: 15px;
  margin-left: 15px;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 404px;
  }

  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.category-discription {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-line-color);
}
.category {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  @include font-text(700px, 18px, 36px);

  letter-spacing: 0.06em;
  text-decoration: none;
}

.category-name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  @include font-text(400px, 16px, 30px);

  letter-spacing: 0.03em;
}

.category-thumb {
  position: relative;
  overflow: hidden;
}

.category-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  @include font-text(400px, 18px, 28px);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--category-text-background);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}
