.logo {
  display: inline-block;

  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 480px) {
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  }

  .web {
    color: var(--accent-color);
  }

  footer & {
    display: inline-block;
    //width: 154px;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 0;
    @media screen and (min-width: 480px) {
      margin-right: 160px;
    }

    @media screen and (min-width: 768px) {
      width: 142px;
      margin: 0;
      margin-left: auto;
      margin-right: 204px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin: 0;
      width: 160px;
      margin-bottom: 20px;
    }
  }
}
