.container {
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: 320px) {
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }

  @media screen and (min-width: 1200px) {
    padding: 118px 15px;
  }

  .hero & {
    @media screen and (min-width: 320px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      padding-right: 15px;
      padding-bottom: 60px;
      padding-left: 15px;
    }
    @media screen and (min-width: 480px) {
      width: 480px;
      height: 400px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;

      padding-top: 118px;
      padding-bottom: 118px;
    }

    @media screen and (min-width: 768px) {
      width: 738px;
      height: 400px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      height: 600px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 200px 15px;
      margin-bottom: 94px;
    }
  }

  footer & {
    @media screen and (min-width: 480px) {
      width: 480px;
      height: 603px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      height: 463px;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 76px;
      padding-right: 76px;
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      min-width: 1200px;
      display: flex;
      align-items: baseline;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .page-header & {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {
      width: 100vh;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }

    @media screen and (min-width: 480px) {
      width: 480px;
      height: 60px;
      padding: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      height: 80px;
      padding: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 1600px;
      height: 80px;
      padding: 0;
      padding-left: 215px;
      padding-right: 215px;
    }
  }

  .portfolio & {
    @media screen and (min-width: 480px) {
      width: 480px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-top: 60px;
      padding-right: 15px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 15px;
      padding-top: 60px;
      padding-right: 15px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      padding-top: 94px;
      padding-bottom: 94px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .works & {
    @media screen and (min-width: 1200px) {
      width: 1200px;
      height: 386px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      padding-bottom: 94px;
    }
  }

  .features & {
    @media screen and (min-width: 320px) {
      width: 100%;
    }

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 994px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      width: 738px;
      height: 507px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 1170px;
      height: 251px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 94px;
      margin-bottom: 94px;
      padding: 0;
    }
  }

  .team & {
    @media screen and (min-width: 320px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      padding-right: 15px;
      padding-bottom: 60px;
      padding-left: 15px;
    }

    @media screen and (min-width: 480px) {
      width: 480px;
      height: 2761px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 15px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      height: 1285px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 1200px;
      height: 708px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .client & {
    @media screen and (min-width: 320px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      padding-right: 15px;
      padding-bottom: 60px;
      padding-left: 15px;
    }
    @media screen and (min-width: 480px) {
      width: 450px;
      height: 393px;
      margin: 0;
      margin-top: 60px;
      margin-left: auto;
      margin-bottom: 60px;
      margin-right: auto;
      padding: 0;
    }

    @media screen and (min-width: 768px) {
      width: 738px;
      height: 273px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 1170px;
      height: 182px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
