:root {
  --logo-black-color: #000000;
  --primary-text-color: #757575;
  --background-section-color: #f5f4fa;
  --title-text-color: #212121;
  --input-border-color: rgba(21, 21, 21, 0.2);
  --accent-color: #2196f3;
  --category-text-background: rgba(33, 150, 243, 0.9);
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --works-discription-color: rgba(47, 48, 58, 0.8);
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --header-line-color: #ececec;
  --border-line-color: #eeeeee;
  --content-team-shadow-v1: rgba(0, 0, 0, 20%);
  --content-team-shadow-v2: rgba(0, 0, 0, 14%);
  --content-team-shadow-v3: rgba(0, 0, 0, 12%);
  --hero-overlay-color: rgba(47, 48, 58, 40%);
  --social-icon-color: #afb1b8;
  --footer-social-icon: rgba(255, 255, 255, 10%);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --cheked-policy-border: rgba(33, 33, 33, 1);
  --message-text-color: rgba(117, 117, 117, 0.5);
  --placeholder-footer-text: rgba(255, 255, 255, 0.6);
  --sen-btn-bcg-color: #188ce8;
}
